@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Courier+Prime:ital@1 & family= Inter:wght@400;500 & family= Montserrat: wght@500 & family= Open+Sans:ital,wght@0,300;1,300 & family= Oswald & family= Playfair+Display:ital,wght@0,500;0,600;0,700;1,400 & family= Roboto:ital,wght@0,100; 0,300;0,500;1,700 & família= Satisfazer & família= Sriracha & família= Trabalho+Sans:ital,wght@0,200;0,300;1,100;1,300 &exibir=trocar');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;

}
body {
    color: white;
}
/* nav */
header {
    display: flex;
    background-color: #bc6c25;
    justify-content: space-between;
    padding: 15px;
    font-weight: bold;
    height: 10vh;
    align-items: center;
}
header h1 {
    text-transform: uppercase;
    font-size: 30px;
}
ul {
    display: flex;
    list-style: none;
    padding: 15px;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;
    font-variant: small-caps;
    font-size: 20px;
}

/* box-1*/
.box-1 {
    background-image: url(../img/photo-1483729558449-99ef09a8c325.avif);
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-1 h1 {
    position: absolute;
    top: 240px;
    left: 100px;
    color: #283618;
    background-color: lightyellow;
    font-size: 80px;
    background-color: transparent;
    
}
/* box 2*/
.box-2{
    display: flex;
    color: #283618;
    background-color: #fefae0;
    width: 100%;
    min-height: 75vh;
    padding: 50px;
}
.sub-box21 {
    width: 50%;
    height: 100%;
}
.sub-box21 img {
    height: 420px;
    width: 600px;
    padding-top: 20px;
}
.sub-box22 {
    width: 50%;
    height: 100%;
    align-items: center;

}
.sub-box22 h1{
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}
.sub-box22 p {
    text-align: justify;
    line-height: 1.5em;
    font-size: 16px;
}
/*box-3*/
.box-3 {
    background-color: #606c38;
}
/* */

/* footer */

footer {
    background-color: #36494e;
    text-align: center;
}
footer a , p{
    font-size: 16px;
    padding: 5px;
    font-variant: normal;
    font-weight: bolder;
    line-height: 1em;
    
}